{
    "jsc": {
      "parser": {
        "extensions": [".js"],
        "syntax": "ecmascript",
        "dynamicImport": true,
        "exportDefaultFrom": true,
        "importMeta": true,
        "classPrivateProperty": true,
        "classProperty": true,
        "nullishCoalescing": true,
        "optionalChaining": true,
        "decorator": true,
        "jsx": false,
        "privateMethod": true,
        "decorators": true,
        "topLevelAwait": true,
        "preserveAllComments": false,
        "externalHelpers": true
      }
    },
    "isModule": true
  }